@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&family=Tiro+Gurmukhi&display=swap');


*{
    margin : 0; 
    padding  : 0; 
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Tiro Gurmukhi', serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: black;
    width : 100%;
    height: 2000px;

     
}


/*header of the page*/
header {
    height: 30px ;
    width: 100%;
}

.navbar {
    width: 100vw;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 1px;
}

.element{
    margin: 5px;
    padding: 5px;
    color: white;
    font-size: 14px;
}

.Googlelogo {
    
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 20px;
    padding-top: 20vh;
    padding-bottom: 20vh;
    margin: 10px;
}


.apps {
    border-radius: 50%;

}

.apps :hover {
    background-color: white;
    opacity: 10%;
    
}

.element :hover{
    /*considers icons only*/
    text-decoration-line: underline;
}

 /*body of the page*/
 .pagebody {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end;
    align-items: center;
 }